/* Змінні */
:root {
    --main-front: "Roboto", sans-serif ;
    --secondary-front: "Raleway", sans-serif;
    --white-color: #FFFFFF;
    --color-text: #757575;
    --color-header-text: #212121; 
    --accent-color: #2196F3;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
/* для сторінки */
body {
    font-family: var(--main-front) ;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-text);
font-weight: 500;
}
/* Контейнер */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Шапка */
.header {
background: var(--white-color);
border: 1px solid #ECECEC;
height: 80px;

}
.header .container {
    display: flex;
    align-items: center;
}
/* Логотип */
.logo {
    font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.92;
letter-spacing: 0.03em;
margin-right: 93px;
}
.logo-a {
    color: #2196F3; 
}
.logo-b {
  color: var(--color-header-text);  

}
.logo-c {
    color: var(--white-color);
}
/* Навігація */
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child) {
margin-right: 50px;
}
.menu-link-studio-portfolio,
.menu-link-studio-portfolio:visited {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio-portfolio::after {
  display: inline-block;
  position: absolute;
  opacity: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  left: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio-portfolio:hover::after,
.menu-link-studio-portfolio:focus::after {
  opacity: 1;
}

.menu-link-studio-portfolio:hover,
.menu-link-studio-portfolio:active,
.menu-link-studio-portfolio:focus {
  color: var(--accent-color);
}

.menu-link-studio-contacts,
.menu-link-studio-contacts:visited {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio-contacts::after {
  display: inline-block;
  position: absolute;
  opacity: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  left: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio-contacts:hover::after,
.menu-link-studio-contacts:focus::after {
  opacity: 1;
}

.menu-link-studio-contacts:hover,
.menu-link-studio-contacts:active,
.menu-link-studio-contacts:focus {
  color: var(--accent-color);
}

.menu-link-studio {
  display: block;
  width: 48px;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-link-studio::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: " ";
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-link-portfolio-studio,
.menu-link-portfolio-studio:visited {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-portfolio-studio::after {
  display: inline-block;
  position: absolute;
  opacity: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  left: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-portfolio-studio:hover::after,
.menu-link-portfolio-studio:focus::after {
  opacity: 1;
}

.menu-link-portfolio-studio:hover,
.menu-link-portfolio-studio:active,
.menu-link-portfolio-studio:focus {
  color: var(--accent-color);
}

.menu-link-portfolio-contacts,
.menu-link-portfolio-contacts:visited {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-portfolio-contacts::after {
  display: inline-block;
  position: absolute;
  opacity: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  left: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-portfolio-contacts:hover::after,
.menu-link-portfolio-contacts:focus::after {
  opacity: 1;
}

.menu-link-portfolio-contacts:hover,
.menu-link-portfolio-contacts:active,
.menu-link-portfolio-contacts:focus {
  color: var(--accent-color);
}

.menu-link-portfolio {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-link-portfolio::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: " ";
  width: 100%;
  left: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-list li:not(:last-child) {
    margin-right: 50px;
    flex-wrap: nowrap;
  }
  .link-contact {
    display: inline-flex;
    align-items: center;
    color: var(--color-text);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contact:hover,
  .link-contact:focus {
    color: var(--accent-color);
  }
  .contact-item {
    display: flex;
  }
  .contact-icon {
    fill: var(--color-text);
    margin-right: 10px;
  }
  .link-contact:hover svg {
    fill: var(--accent-color);
  }
  .link-contact:focus svg {
    fill: var(--accent-color);
  }

/* заливка першой секції */
.section-first{
    background: #2F303A;
    height: 600px;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.bg-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
/* Заголовок */
.service {
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

/* Кнопка заказа */
.service-button {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
background: #2196F3;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
}



/* Підзаголовки */
.section-two {
    padding-top: 94px;
    padding-bottom: 94px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
ul  {
    display: flex;
}
.servise_list {
    display: flex;
    
    margin-left: -30px;
  margin-top: -30px;
}
.service-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 270px;
    text-align: left;
   
}
.service-header {
    margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--color-header-text);
text-transform: uppercase;
}
/* Текст */
.service-text {
    font-family: "Roboto", sans-serif ;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
padding-top: 10px;
}
.service-item::before {
    content: '';
    display: block;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
  
    background-repeat: no-repeat;
    background-color:  #f5f4fa;
    background-position: center;
  }
  
  .service-item.icon-one::before {
    background-image: url(../images/antenna.svg);
    fill: #212121;
  }
  .service-item.icon-two::before {
    background-image: url(../images/clock.svg);
  }
  .service-item.icon-three::before {
    background-image: url(../images/dia.svg);
  }
  .service-item.icon-four::before {
    background-image: url(../images/astronaut.svg);
  }
/* Заголовок робота */
.section-three {
    padding-bottom: 94px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.work-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.work {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-bottom: 50px;
}
/* як ми працюємо заголовок на фотографії знизу */
.work-block {
    position: relative;
}
    .work-text {
    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 0%;
    padding: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    }
   
/* Заголовок команада */
.section-four {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-bottom: 50px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item {
    background-color: #FFFFFF;
    height: 428px;
}
        
/* Команда */
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-top: 30px;
margin-bottom: 10px;
}

.team-social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px; 
    border-radius: 50%;  
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social:hover,
.team-social:focus {
    background-color: #2196F3;
}
.social-team {
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.team-social:hover svg,
.team-social:focus svg{
    fill: #FFFFFF;
}


/* Професія */
.team-work {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}


/* Клієнти*/
.section-five {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    justify-content: center;
}
.clients {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-header-text);
    margin-bottom: 50px;
    }
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4%;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client {
    fill: #AFB1B8;
}
.clients-link:hover,
.clients-link:focus {
    border: 1px solid #2196F3;
}
.clients-link:hover svg,
.clients-link:focus svg{
    fill: #2196F3;
}


/* Підвал */
.footer {
    padding-top: 60px;
padding-bottom: 60px;
    background: #2F303A;
    
}
.footer .container {
    text-align: left;
  }
.logo-footer {
 display: inline-block;
 margin-bottom: 20px;
}
/* Адрес */
.address-list {
    display: block;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
  }

.address-link {
font-style: normal;
color: var(--white-color);
line-height: 1.71;
}

/* адрес почти */
.address-link-mail {
    font-style: normal;  
color: rgba(255, 255, 255, 0.6);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mail:hover,
.address-link-mail:focus {
    color: #2196F3;
}
/* Адрес телефона */
.address-link-tel {
font-style: normal;
color: rgba(255, 255, 255, 0.6);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-tel:hover,
.address-link-tel:focus {
    color: #2196F3;
}
/* приєднання до соц. мереж*/
.aside {
    display: flex;
    align-items: baseline;
  }
.footer-social {
    margin-left: 70px;
}
.footer-social-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .footer-social-list {
      display: flex;
  }
  .footer-social-item:not(:first-child) {
      margin-left: 10px;
  }
  .footer-social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px; 
    border-radius: 50%; 
    background: rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-icon:hover,
  .footer-social-icon:focus {
      background-color: #2196F3;
  }
  .social-footer {
      fill: #FFFFFF;
  }





/* Портфоліо */
/* Портфолио кнопки */
.section-portfolio-first {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-list {
    display: flex;
 margin-bottom: 50px;
 align-items: center;
 justify-content: center;
}
.portfolio-button {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
background: #F5F4FA;
cursor: pointer;
margin-right: 8px;
border-radius: 4px;
padding: 6px 22px;
border: none;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
   
}
/* тень картинки при наведення */
.production-item {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.production-item:hover,
.production-item:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-pfoto-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 24px;
    border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  }

.production-list {
    
    display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.production-item {
    
    flex-basis: calc(100% / 3 - 30px);
    
    text-align: left;
    margin-left: 20px;
    margin-left: auto;
    margin-top: 30px;
}

/* Перша надпісь під фото */
.production-headr {
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--color-header-text);
}
/* Друга надпісь під фото */
.production-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}
/* текст який відвігається під час ховері */
.production-pfoto {
position: relative;
overflow: hidden;
}


.production-pfoto-text {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: absolute;
left: 0%;
bottom: 0%;
padding: 63px 24px;
background: rgba(33, 150, 243, 0.9);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;

transform: translateY(100%);
transition: transform var(--animation);
}

.production-pfoto:hover .production-pfoto-text {
    transform: translateY(0);
}

/* забирає підчеркування */
a {
    text-decoration: none;
}
/* забирає маркерування */
li {
    list-style-type: none;
}

/* глобальне скидання стилів */
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}

/* модальне вікно */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--animation), visibility var(--animation);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-window{
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}
.madal-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
}