/* Змінні */
:root {
    --main-front: "Roboto", sans-serif ;
    --secondary-front: "Raleway", sans-serif;
    --white-color: #FFFFFF;
    --color-text: #757575;
    --color-header-text: #212121; 

}
/* для сторінки */
body {
    font-family: var(--main-front) ;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-text);
}
/* Шапка */
.header {
background: var(--white-color);
border: 1px solid #ECECEC;
padding-top: 24px;
padding-bottom: 25px;
}
.header .container {
    display: flex;
    align-items: center;
}
/* Логотип */
.logo {
    font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.92;
letter-spacing: 0.03em;
margin-right: 93px;
}
.logo-a {
    color: #2196F3; 
}
.logo-b {
  color: var(--color-header-text);  

}
.logo-c {
    color: var(--white-color);
}
/* Навігація */
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child) {
margin-right: 50px;
}
.nav-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-header-text);
}

.nav-link:hover,
.nav-link:focus {
    color: #2196F3;

}

/* емейл */
.mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
padding-left: 331px;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}
/* телефон */
.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-left: 50px;
}

.tel:hover,
.tel:focus {
    color: #2196F3;
}


/* заливка першой секції */
.section-first{
    background: #2F303A;
    height: 600px;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* Заголовок */
.service {
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    

}
/* Кнопка заказа */
.service-button {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
background: #2196F3;
cursor: pointer;
}



/* Підзаголовки */
.service-header {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-header-text);
}
/* Текст */
.service-text {
    font-family: "Roboto", sans-serif ;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* Заголовок робота */

.work {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
}
/* Заголовок команада */
.section-four {
    background-color: #F5F4FA;
}
.team {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
}
/* Команда */
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
}
/* Професія */
.team-work {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}



/* Підвал */
.footer {
    background: #2F303A;
}
/* Адрес */
.address-link {
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-color);
}
/* адрес почти */
.address-link-mail {
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.address-link-mail:hover,
.address-link-mail:focus {
    color: #2196F3;
}
/* Адрес телефона */
.address-link-tel {
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.address-link-tel:hover,
.address-link-tel:focus {
    color: #2196F3;
}
/* Портфоліо */
/* Портфолио кнопки */
.portfolio-button {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
background: #F5F4FA;
cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background: #2196F3;
}
/* Перша надпісь під фото */
.production-headr {
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--color-header-text);
}
/* Друга надпісь під фото */
.production-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}


/* забирає підчеркування */
a {
    text-decoration: none;
}
/* забирає маркерування */
li {
    list-style-type: none;
}

/* глобальне скидання стилів */
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}
/* Контейнер */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

