/* Змінні */
:root {
    --main-front: "Roboto", sans-serif ;
    --secondary-front: "Raleway", sans-serif;
    --white-color: #FFFFFF;
    --color-text: #757575;
    --color-header-text: #212121; 

}
/* для сторінки */
body {
    font-family: var(--main-front) ;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-text);
}
/* Контейнер */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Шапка */
.header {
background: var(--white-color);
border: 1px solid #ECECEC;

}
.header .container {
    display: flex;
    align-items: center;
}
/* Логотип */
.logo {
    font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.92;
letter-spacing: 0.03em;
margin-right: 93px;
}
.logo-a {
    color: #2196F3; 
}
.logo-b {
  color: var(--color-header-text);  

}
.logo-c {
    color: var(--white-color);
}
/* Навігація */
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child) {
margin-right: 50px;
}
.nav-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-header-text);
}

.nav-link:hover,
.nav-link:focus {
    color: #2196F3;

}
.contact-header {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* емейл */
.mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}
/* телефон */
.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-left: 50px;
}

.tel:hover,
.tel:focus {
    color: #2196F3;
}


/* заливка першой секції */
.section-first{
    background: #2F303A;
    height: 600px;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* Заголовок */
.service {
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

/* Кнопка заказа */
.service-button {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
background: #2196F3;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
}



/* Підзаголовки */
.section-two {
    padding-top: 94px;
    padding-bottom: 94px;
}
ul  {
    display: flex;
}
.servise_list {
    display: flex;
    
    margin-left: -30px;
  margin-top: -30px;
}
.service-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 270px;
    text-align: left;
   
}
.service-header {
    margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--color-header-text);
text-transform: uppercase;
}
/* Текст */
.service-text {
    font-family: "Roboto", sans-serif ;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
padding-top: 10px;
}
/* Заголовок робота */
.section-three {
    padding-bottom: 94px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.work-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.work {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-bottom: 50px;
}
/* Заголовок команада */
.section-four {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-bottom: 50px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/* Команда */
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
margin-bottom: 10px;
}
/* Професія */
.team-work {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}



/* Підвал */
.footer {
    padding-top: 60px;
padding-bottom: 60px;
    background: #2F303A;
    
}
.footer .container {
    text-align: left;
  }
.logo-footer {
 display: inline-block;
 margin-bottom: 20px;
}
/* Адрес */
.address-list {
    display: block;
}

.address-link {
font-style: normal;
color: var(--white-color);
}

/* адрес почти */
.address-link-mail {
    font-style: normal;  
color: rgba(255, 255, 255, 0.6);
}

.address-link-mail:hover,
.address-link-mail:focus {
    color: #2196F3;
}
/* Адрес телефона */
.address-link-tel {
font-style: normal;
color: rgba(255, 255, 255, 0.6);
}

.address-link-tel:hover,
.address-link-tel:focus {
    color: #2196F3;
}
/* Портфоліо */
/* Портфолио кнопки */
.section-portfolio-first {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-list {
    display: flex;
 margin-bottom: 50px;
 align-items: center;
 justify-content: center;
}
.portfolio-button {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-header-text);
background: #F5F4FA;
cursor: pointer;
margin-right: 8px;
border-radius: 4px;
padding: 6px 22px;
border: none;

}

.portfolio-button:hover,
.portfolio-button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
   
}

.production-list {
    
    display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.production-item {
    
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid #eeeeee;
    text-align: left;
    padding-bottom: 20px;
    margin-left: auto;
    margin-top: 30px;
}

/* Перша надпісь під фото */
.production-headr {
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--color-header-text);
}
/* Друга надпісь під фото */
.production-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}


/* забирає підчеркування */
a {
    text-decoration: none;
}
/* забирає маркерування */
li {
    list-style-type: none;
}

/* глобальне скидання стилів */
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}

